@model Code.Pizza.Web.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Code and Pizza - Login</title>
</head>
<body>
    <div>
        <h3>Code and Pizza Login</h3>

        @using (Html.BeginForm("Login", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }))
        {

            if (ViewData.ModelState.ContainsKey("InvalidLogin"))
            {
                 
            @Html.ValidationSummary();

            }
            
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)

            <br />

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)

            <br />
            
            @Html.LabelFor(m => m.RememberMe)
            @Html.CheckBoxFor(m => m.RememberMe)
            
            <br />
            
            <input type="submit" value="Login" />
        }

    </div>
</body>
</html>
